# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Build/Output files
# Since you'll be generating many PDFs for testing, 
# it's usually better to keep them out of your code history.
*.pdf
test*

# Editor-specific files
.vscode/
.idea/
*.swp

# Node.js (if you decide to use it later)
node_modules/
npm-debug.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
